@charset "UTF-8";
*{
    margin: 0;
    font-family: Verdana;
    font-weight: 500;
}
body{
    padding: 10px;
    background-color:lightcyan;
}
.container{
    position: relative;
}
form{
    width: 80vw;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
h2{
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
fieldset{
    display: inline-block;
    width: 70vw;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}
input, textarea{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    margin: 2px;
}
input[type="range"]{
    appearance: none;
    height: 3px;
}
#idad{
    width: 40px;
}
.botao:hover{
    background-color: gray;
    color: white;
}
