@charset "UTF-8";

body {
    background-color:cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: rgb(7, 7, 7);
    background-color: darkcyan;
}
h2 {
    color: rgb(7, 7, 7);
}
p{
    text-align: justify;